html {
    background: url("../images/background.jpg") no-repeat center center fixed;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1,
#start {
    font-size: 3em;
    line-height: 1.05em;
}

h2 {
    font-size: 2.25em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

header {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 4em;
    margin-top: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-area {
    background-image: url("../images/pagetexture.jpg");
    border-radius: 10px;
    width: 80%;
    height: 90vh;
}

.question {
    width: 70%;
    margin: 0 auto;
}

.button {
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
}

.button:hover {
    color: whitesmoke;
    background: rgba(119,136,153,0.7);
    user-select: none;
}

#choice-list {
    list-style: none;
}

#question-results-area img {
    height: 200px;
}

#timer {
    font-size: 2.25em;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}